## General node modules
node_modules
public/libs

## SASS cache
.sass-cache

## Front-End Build
/dist

## Back-End Build
/middleware
/config
/models
/routes
/app.js
server.js

## Babel and Concat Process

public/compiled-js/bundle/*.js
## public/compiled-js/bundle/*.map 
public/compiled-js/build/*.js
public/compiled-js/build/*.map


## SASS To CSS

public/compiled-css/*.css
public/compiled-css/*.map 
