/*@_base.scss
 *HTML structure will be organized here as layout and general settings
 *Small pieces takes makes a section will you find organized in other file
 *such as: buttons, transitions, colors or somehing like this...
 */

@mixin intro-splash($height, $color){
  height: $height;
  background-color:$color;
}



body{
  background-color:$layer-color;
}

main{

  header{
  background-color:$header-color;
  color: $text-color;
  }

  article{
    p{
      color: $text-color;
    }
  }
}

button{
  background-color: $btn-color;
}
thead{
  background-color: $table-color;
}


section#intro-section{
  div{
  article{
      @include intro-splash(100%, purple);
    }
  }
}
