/*@_base.scss
 *HTML structure will be organized here as layout and general settings
 *Small pieces takes makes a section will you find organized in other file
 *such as: buttons, transitions, colors or somehing like this...
 */

@import "modules/functions";


body{
  background-color:$layer-color;
}

main{
#container-wrapper{
   width:100%;
   padding:0;
   overflow:hidden;

header{
   @include head-splash($header-color, $text-color);
}
section#intro-section{
   margin:0 auto;
   margin-bottom:30px;
   width:1170px;
div{
  article{
   @include intro-splash(400px, $table-color);
p{
   color: $layer-color;
   width:350px;
   padding:7em 2em 7.8em 2em;
   font-size: 1.5em;
     }
    }
   }
  }
 }
}
button{
  background-color: $btn-color;
}
thead{
  background-color: $table-color;
}
