/*@_base.scss
 *HTML structure will be organized here as layout and general settings
 *Small pieces takes makes a section will you find organized in other file
 *such as: buttons, transitions, colors or somehing like this...
 */


body{
  background-color:$layer-color;



main{
#container-wrapper{
   @include container-wrapper(100%, 0, hidden);

header{
   @include head-splash($header-color, $text-color);
   @include text-splash($head-text-shadow);
   @include head-settings(250px, 5000);

hgroup{
  @include hgroup-settings(left);
 }
section{
  @include header-search-settings(right, 40px);
  form{
    button{
      @include search-button(34px, none, transparent, none);
      }
      i{
        @include search-button(34px, none, transparent, none);
      }
      input.form-control.search{
        @include search-bar-settings(left, 250px, 500ms ease-in);
      }
    }
  }
}


section#intro-section{
  @include intro-section(30px, 50px, relative, -100);
  h1{ @include splash-intro($intro-font-josefin, center, $splash-color, -20px) }
  div{
     article{
        @include intro-splash(400px, $table-color);
     p{
        @include paragraph-three-collumn($paragraph-text-shadow, $paragraph-color, 7em 2em 7.8em 2em, 1.5em);
      }
    }
  }
}


/**
  *@name: table-settings
  *@description: the table which the pure Java Script is apllied math folder
  *We've got the model and the view class
  */


.math{
  @include math-table-position(relative, -10);
}

div#table{

  @include math-table(50px, 50px);
  h1{ @include math-table-intro($splash-color, $intro-font-josefin, center); }
  thead{
    background-color: $table-color;
  }
  button{
    background-color: $btn-color;
  }
}

aside{
  @include footer(fixed, 0, transparent, $intro-font-josefin, center, 5%, 95%);
 section{
   span{
     @include glyphicon-element($glyphicon, 2em, 26%, $splash-color);
   }
   h5{
     color:$splash-color;
   }
 }
}

section#guide{
  @include guide-section(1000px, $guide-color);
  h1{
     @include guide-header-one(50px, center, white, 1px 1px 2px black, $intro-font-josefin);
    }
   }
  }
 }
}


 /**
  *@name: content-wrapper (AngularJS Directive: scroll.js / scrollHead)
  *@description: Content-wrapper is active up the time the headChange directive
  *From AngularJS.
  */


.content-wrapper{
  @include content-wrapper(relative, 320px, 1200px);
}

 /**
  *@name: content-wrapper-nav (AngularJS Directive: scroll.js / scrollNav)
  *@description: Content-wrapper is active up the time the navChange directive
  *From AngularJS.
  */


.content-wrapper-nav{
  @include content-wrapper-nav(relative, 465px, 1320px);
}
