/*@_guide.scss
 *Guide section animations are built on this separate SASS module.
 *It has got classes and keyframes which are called by Angularjs
 */


.guideAnimate{
   @include guide-wrapper-class($table-color, 300ms ease-out);
}

@keyframes moveAnimate {
    0%{
     transform: translateY(0px);
    }

    50%{
     transform: translateY(20px);
    }


    100%{
     transform: translateY(0px);   
    }
}

.paragraphKeyAnimate{
    animation: moveAnimate 350ms;
    animation-iteration-count: 1;
}