/*@_guide.scss
 *Guide section animations are built on this separate SASS module.
 *It has got classes and keyframes which are called by Angularjs
 */


.guideAnimate{
   @include guide-wrapper-class($table-color, 300ms ease-out);
}

@keyframes moveAnimate {
    0%{
     transform: translate(0px, 0px);
     transition:300ms;
    }

    50%{
     transform: translateY(20px);
     transition:300ms;
    }


    100%{
     transform: translate(0px);   
     transition:300ms;  
    }
}

.paragraphKeyAnimate{
    animation: moveAnimate 350ms;
    animation-iteration-count: 1;
}