/*@_nav.scss
 *Here will be the code of the main nav, keyframes are out in modules classes
 *Colors and shades will ever be outside here, probably found on colors class.
 *Mixins also will be written outside this file.
 */

 @import 'modules/functions';
 @import 'modules/animation-nav';
 @import 'modules/fonts';
 @import 'modules/colors';

.panel{
  @include nav-panel($nav-color, 0);
}

nav{
  ul{
   @include ul-nav-settings(600px, relative, table, 50px auto, both);
   li{
    @include li-nav-settings(none, left);
    a{
    @include a-nav-settings(100px, 100px, left, 0 10px);
    @include perspective-crossbrowser($perspective);
      }
    }
  }
}


nav{
  ul{
    li{
     .front{
   text-align: center;
   @include transform-crossbrowser($rotateX-default, $rotateY-default);
   @include transition-crossbrowser($transition-settings);
   -webkit-backface-visibility: $backface-settings;
      -moz-backface-visibility: $backface-settings;
       -ms-backface-visibility: $backface-settings;
        -o-backface-visibility: $backface-settings;
           backface-visibility: $backface-settings;
   -webkit-transform-style: $transform-style;
      -moz-transform-style: $transform-style;
        -o-transform-style: $transform-style;
           transform-style: $transform-style;
   }&:hover
     .front{
     @include transform-crossbrowser($rotateX-default, $rotateY-flip-front);
      }
    }
  }
}


nav{
  ul{
    li{
     .back{
   @include li-back-nav-settings(absolute, 0, inherit, inherit, center, -1);
   @include transform-crossbrowser($rotateX-default, $rotateY-flip-back);
   @include transition-crossbrowser($transition-settings);
   -webkit-backface-visibility: $backface-settings;
      -moz-backface-visibility: $backface-settings;
       -ms-backface-visibility: $backface-settings;
        -o-backface-visibility: $backface-settings;
           backface-visibility: $backface-settings;
   -webkit-transform-style: $transform-style;
      -moz-transform-style: $transform-style;
        -o-transform-style: $transform-style;
           transform-style: $transform-style;
      }:hover
       .back{
       z-index: 1;
       @include transform-crossbrowser($rotateX-default, $rotateY-default);
      }
    }
  }
}


nav{
  ul{
   li{
     i{
      @include i-nav-settings(100px !important, white, middle !important);
      }
      span{
      @include span-nav-settings($nav-font-roboto, 20px, 300, 100px, white, lowercase, middle);
      }
    }
  }
}


 nav ul li.color-1 .front,
 nav ul li.color-1 .back {
   background-color:$home-nav-color;
 }

 nav ul li.color-2 .front,
 nav ul li.color-2 .back {
   background-color:$blog-nav-color;
 }

 nav ul li.color-3 .front,
 nav ul li.color-3 .back {
   background-color:$photo-nav-color;
 }

 nav ul li.color-4 .front,
 nav ul li.color-4 .back {
   background-color:$about-nav-color;
 }

 nav ul li.color-5 .front,
 nav ul li.color-5 .back {
   background-color:$chat-nav-color;
 }
