/*@_nav.scss
 *Here will be the code of the main nav, keyframes are out in modules classes
 *Colors and shades will ever be outside here, probably found on colors class.
 *Mixins also will be written outside this file.
 */

 @import 'modules/functions';
 @import 'modules/animation-nav';
 @import 'modules/fonts';
 @import 'modules/colors';

.panel{
  @include nav-panel($nav-color, 0);
}

nav{
  ul{
   @include ul-nav-settings(600px, relative, table, 50px auto, both);
   li{
    @include li-nav-settings(none, left);
    a{
    @include a-nav-settings(100px, 100px, left, 0 10px);
    -webkit-perspective: $perspective;
       -moz-perspective: $perspective;
        -ms-perspective: $perspective;
            perspective: $perspective;
      }
    }
  }
}


nav{
  ul{
    li{
     .front{
   text-align: center;
   -webkit-transform: rotateX($initial-deg) rotateY($initial-deg);
      -moz-transform: rotateX($initial-deg) rotateY($initial-deg);
       -ms-transform: rotateX($initial-deg) rotateY($initial-deg);
        -o-transform: rotateX($initial-deg) rotateY($initial-deg);
   -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
       -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
           transition: all 0.5s ease-in-out;
   -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
       -ms-backface-visibility: hidden;
        -o-backface-visibility: hidden;
           backface-visibility: hidden;
   -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
        -o-transform-style: preserve-3d;
           transform-style: preserve-3d;
   }&:hover
     .front{
     -webkit-transform: rotateX($initial-deg) rotateY($flip-deg-front);
        -moz-transform: rotateX($initial-deg) rotateY($flip-deg-front);
         -ms-transform: rotateX($initial-deg) rotateY($flip-deg-front);
          -o-transform: rotateX($initial-deg) rotateY($flip-deg-front);
      }
    }
  }
}


nav{
  ul{
    li{
     .back{
   @include li-back-nav-settings(absolute, 0, inherit, inherit, center, -1);
   -webkit-transform: rotateX($initial-deg) rotateY($flip-deg-back);
      -moz-transform: rotateX($initial-deg) rotateY($flip-deg-back);
       -ms-transform: rotateX($initial-deg) rotateY($flip-deg-back);
        -o-transform: rotateX($initial-deg) rotateY($flip-deg-back);
   -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
       -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
           transition: all 0.5s ease-in-out;
   -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
       -ms-backface-visibility: hidden;
        -o-backface-visibility: hidden;
           backface-visibility: hidden;
   -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
        -o-transform-style: preserve-3d;
           transform-style: preserve-3d;
      }:hover
       .back{
       z-index: 1;
       -webkit-transform: rotateX($initial-deg) rotateY($initial-deg);
          -moz-transform: rotateX($initial-deg) rotateY($initial-deg);
           -ms-transform: rotateX($initial-deg) rotateY($initial-deg);
            -o-transform: rotateX($initial-deg) rotateY($initial-deg);
      }
    }
  }
}


nav{
  ul{
   li{
     i{
      @include i-nav-settings(100px !important, white, middle !important);
      }
      span{
      @include span-nav-settings($nav-font-roboto, 20px, 300, 100px, white, lowercase, middle);
      }
    }
  }
}


 nav ul li.color-1 .front,
 nav ul li.color-1 .back {
   background-color:$home-nav-color;
 }

 nav ul li.color-2 .front,
 nav ul li.color-2 .back {
   background-color:$blog-nav-color;
 }

 nav ul li.color-3 .front,
 nav ul li.color-3 .back {
   background-color:$photo-nav-color;
 }

 nav ul li.color-4 .front,
 nav ul li.color-4 .back {
   background-color:$about-nav-color;
 }

 nav ul li.color-5 .front,
 nav ul li.color-5 .back {
   background-color:$chat-nav-color;
 }
