<div ng-controller="TableController as vm" class="row" id="table" scroll-table ng-class="{math:mathTable}">
    <section class="table-responsive col-md-12">
        <h1>{{ vm.table.intro.text }}</h1>
        <h3>{{ vm.textFun }}</h3>
        <h4>{{ vm.clearExponential }}</h4>
        <table class="table table-striped" id="math-table">
            <thead>
                <tr>
                    <th ng-repeat="key in vm.table.title">
                        {{ key.name }}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td ng-class="{effect: vm.math.exponential}">
                        {{ vm.math.exponential | exponentialFilter }}
                    </td>
                    <td ng-class="{effect: vm.math.fixed}">
                        {{ vm.math.fixed | fixedFilter }}
                    </td>
                    <td ng-class="{effect: vm.math.precision}">
                        {{ vm.math.precision | precisionFilter }}
                    </td>
                    <td ng-class="{effect: vm.math.string}">
                        {{ vm.math.string | stringFilter }}
                    </td>
                    <td ng-class="{effect: vm.math.ceil}">
                        {{ vm.math.ceil | ceilFilter }}
                    </td>
                    <td ng-class="{effect: vm.math.floor}">
                        {{ vm.math.floor | floorFilter }}
                    </td>
                    <td ng-class="{effect: vm.math.round}">
                        {{ vm.math.round | roundFilter }}
                    </td>
                    <td ng-class="{effect: vm.math.absolute}">
                        {{ vm.math.absolute | absoluteFilter }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <form name="mathExponential">
                            <input class="form-control" ng-model="vm.math.exponential" pattern="^\d+$" ng-maxlength="16" type="number" name="exponential"
                                required>
                            <div ng-messages="mathExponential.exponential.$error">
                                <table-messages></table-messages>
                            </div>
                        </form>
                    </td>
                    <td>
                        <form name="mathFixed">
                            <input class="form-control" ng-model="vm.math.fixed" pattern="^([0-9,.])*$" ng-minlength="3" ng-maxlength="6" type="number"
                                name="fixed" required>
                            <div ng-messages="mathFixed.fixed.$error">
                                <table-messages></table-messages>
                            </div>
                        </form>
                    </td>
                    <td>
                        <form name="mathPrecision">
                            <input class="form-control" ng-model="vm.math.precision" ng-minlength="3" ng-maxlength="16" pattern="^([0-9.,])*$" type="number"
                                name="precision" required>
                            <div ng-messages="mathPrecision.precision.$error">
                                <table-messages></table-messages>
                            </div>
                        </form>
                    </td>
                    <td>
                        <form name="mathString">
                            <input class="form-control" ng-model="vm.math.string" ng-minlength="1" ng-maxlength="16" pattern="^([0-9.,])*$" type="number"
                                name="string" required>
                            <div ng-messages="mathString.string.$error">
                                <table-messages></table-messages>
                            </div>
                        </form>
                    </td>
                    <td>
                        <form name="mathCeil">
                            <input class="form-control" ng-model="vm.math.ceil" ng-minlength="4" ng-maxlength="16" type="number" pattern="^\d+(\.\d+)?$"
                                name="ceil" required>
                            <div ng-messages="mathCeil.ceil.$error">
                                <table-messages></table-messages>
                            </div>
                        </form>
                    </td>
                    <td>
                        <form name="mathFloor">
                            <input class="form-control" ng-model="vm.math.floor" ng-minlength="4" ng-maxlength="16" type="number" pattern="^\d+(\.\d+)?$"
                                name="floor" required>
                            <div ng-messages="mathFloor.floor.$error">
                                <table-messages></table-messages>
                            </div>
                        </form>
                    </td>
                    <td>
                        <form name="mathRound">
                            <input class="form-control" ng-model="vm.math.round" ng-minlength="4" ng-maxlength="16" type="number" pattern="^\d+(\.\d+)?$"
                                name="round" required>
                            <div ng-messages="mathRound.round.$error">
                                <table-messages></table-messages>
                            </div>
                        </form>
                    </td>
                    <td>
                        <form name="mathAbsolute">
                            <input class="form-control" ng-model="vm.math.absolute" pattern="^\d+$" ng-maxlength="16" type="number" name="absolute" required>
                            <div ng-messages="mathAbsolute.absolute.$error">
                                <table-messages></table-messages>
                            </div>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button class="btn btn-primary" type="button" id="exponential">Convert</button>
                    </td>
                    <td>
                        <button class="btn btn-primary" type="button" id="string">Convert</button>
                    </td>
                    <td>
                        <button class="btn btn-primary" type="button" id="precision">Convert</button>
                    </td>
                    <td>
                        <button class="btn btn-primary" type="button" id="value">Convert</button>
                    </td>
                    <td>
                        <button class="btn btn-primary" type="button" id="ceil">Convert</button>
                    </td>
                    <td>
                        <button class="btn btn-primary" type="button" id="floor">Convert</button>
                    </td>
                    <td>
                        <button class="btn btn-primary" type="button" id="round">Convert</button>
                    </td>
                    <td>
                        <button class="btn btn-primary" type="button" id="absolute">Convert</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</div>