<section id="guide" class="row" ng-controller="GuideController as vm">
  <article class="col-md-12">
    <h1 ng-bind-html="vm.guide.header.description"></h1>
    <section ng-repeat="key in vm.guide.text">
       <div class="col-md-4" ng-class="{ guideAnimate: hover }"
        ng-mouseenter="hover=true" ng-mouseleave="hover=false">
         <p><span ng-class="[key.glyphicon, { glyphiconAnimate: hover } ]"
         ng-mouseenter="hover=true" ng-mouseleave="hover=false" aria-hidden="true"></span></p>
         <p class="heroclass" ng-class="{ paragraphKeyAnimate: hover }"
         ng-mouseenter="hover=true" ng-mouseleave="hover=false"> {{ key.description }} </p>
       </div>
    </section>
  </article>
</section>
