<section id="guide" class="row">
  <article class="col-md-12">
    <h1 ng-bind-html="data.header.description"></h1>

    <section>
       <div class="col-md-4">
         <p><span class="glyphicon-education" aria-hidden="true"></span></p>
         <p class="heroclass"> Here you are going to learn everything you need regarding Math JavaScript.</p>
       </div>
       <div class="col-md-4">
         <p><span class="glyphicon-stats" aria-hidden="true"></span></p>
         <p class="heroclass">You always have status of how your development is going on it.</p>
       </div>
       <div class="col-md-4">
         <p><span class="glyphicon-briefcase" aria-hidden="true"></span></p>
         <p class="heroclass">It can be your business, here you can become a teacher as long as you develop.</p>
       </div>
    </section>
  </article>
</section>
