<header class="jumbotron">
  <hgroup ng-repeat="key in data">
    <h1 ng-bind="key.settings.title"></h1>
    <h2 ng-bind="key.settings.subtitle"></h2>
  </hgroup>

  <section>
    <form id="search-form" name="search" action="/products" method="get">
      <button type="search" ng-show="showMe" class="fa fa-search" aria-hidden="true"></button>
      <input type="search" ng-show="showMe" ng-model="search" class="form-control search" placeholder="Search a Math Info..."/>
      <i ng-click="searchOpen()" ng-class="{deactive:showMe}" class="fa fa-search" aria-hidden="true"></i>
    </form>
    <p ng-show="showMe">{{ search | searchFilter:20 }}</p>
  </section>
  
</header>
