/*@_animation-nav.scss
 *The purpose of this class is not to have @mixins otherwise
 *Small ajustments as in px or deg for the flip animation on nav
 *Just import the class and it can be called anytime
 */


$perspective: 600px;
$initial-deg: 0deg;
$flip-deg-front: 180deg;
$flip-deg-back: -180deg;
$transition-settings: all 0.5s ease-in-out;
$backface-settings: hidden;
