/*@_animation-nav.scss
 *The purpose of this class is not to have @mixins otherwise
 *Small ajustments as in px or deg for the flip animation on nav
 *Just import the class and it can be called anytime
 */


$perspective: 600px;
$rotateX-default: rotateX(0deg);
$rotateY-default: rotateY(0deg);
$rotateY-flip-front: rotateY(180deg);
$rotateY-flip-back: rotateY(-180deg);
$transition-settings: all 0.5s ease-in-out;
$backface-settings: hidden;
$transform-style: preserve-3d;
$nav-scroll-bg: background-color 500ms ease-in-out;
$nav-scroll-bg-back: 500ms ease-in-out;
