/*@_breakpoints.scss
 *The purpose is to separate breakpoints in order to make it
 *modular and easier to track code.
 *Just import the class and it can be called anytime
 */




 /**
   * @breakpoint : Samsung S5
   * @orientation: portrait
   */


 @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait)
 {

/**
  *@name: Section Search Input (Portrait)
  *
  *@description: Controlling its margin-top in order to
  *appear inside the header section.
  *@optional: and (orientation : landscape) and (-webkit-device-pixel-ratio: 3)
  *
  */

   main{
     #container-wrapper{
       header{
          section{
              @include samsung-galaxy-S5-search(absolute, 7% !important, 2%);
              form{
                input.form-control.search{
                  width:150px !important;
               }
            }
         }
      }
   }
}

    .head{
       header{
         section{
           @include samsung-galaxy-S5-offset-search(-15px !important);
         }
       }
     }

     .content-wrapper{
       @include content-wrapper(relative, 320px, 2130px !important);
     }

}



 /**
   * @breakpoint : Samsung S5
   * @orientation: landscape
   */


@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: landscape)
{

/**
 *@name: Section Search Input Landscape
 *
 *@description: Controlling its margin-top in order to
 *appear inside the header section.
 *@optional: and (orientation : landscape) and (-webkit-device-pixel-ratio: 3)
 *
 */

  main{
    #container-wrapper{
      header{
         section{
             @include samsung-galaxy-S5-search(absolute, 20% !important, 2% !important);
             form{
               input.form-control.search{
                 width:150px !important;
              }
           }
        }
     }
  }
}

   .head{
      header{
        section{
          @include samsung-galaxy-S5-offset-search(-30px !important);
        }
      }
    }

    .content-wrapper{
      @include content-wrapper(relative, 320px, 2130px !important);
    }

}


/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
/* Styles */


}


/**
  * @breakpoint : Search Bar header 1
  *
  */


/* Search Breakpoint 1 ----------- */
@media only screen and (min-width : 1110px) and (max-width: 1224px) {
/* Styles */
main{
  #container-wrapper{
    header{
       section{
           form{
             input.form-control.search{
               width:150px !important;
             }
          }
       }
    }
  }

  .head{
     header{
       section{
         @include samsung-galaxy-S5-offset-search(-50px !important);
       }
     }
   }
 }

}


/**
  * @breakpoint : Search Bar header 2
  *
  */


/* Search Breakpoint 2 ----------- */
@media only screen and (min-width : 296px) and (max-width: 1110px) {

  main{
    #container-wrapper{
      header{
         section{
           @include search-breakpoint(absolute, 18%, 2%);
             form{
               input.form-control.search{
                 width:150px !important;
            }
          }
        }
      }
    }
  }

  .head{
     header{
       section{
         @include search-breakpoint(absolute !important, 50% !important, 2% !important);
       }
     }
   }

}


/**
  * @breakpoint : Search Bar header 3
  *
  */


/* Search Breakpoint 3 ----------- */

@media only screen and (max-width : 670px){

  main{
    #container-wrapper{
      header{
        hgroup{
          @include container-wrapper-breakpoint(none !important, 300ms ease-out);
          h2{
            @include container-wrapper-hgroup-breakpoint(center, text-align 500ms ease-out );
          }
          h1{ @include container-wrapper-hgroup-breakpoint(center, text-align 500ms ease-out );  }
        }
        section{
          opacity:0;
          transition:500ms ease-out;
          form{
            input.form-control.search{
                 width:256px !important;
            }
          }
        }
      }
      .header{
        header{
          section{
            display:none !important;
          }
        }
      }
    }
  }

}

/**
  * @breakpoint : Header Wrapper
  *
  */

/* Guide Section Breakpoint 4 ----------- */


@media screen and (max-width: 768px){

 main{
   #container-wrapper{
     header{
       padding-top:48px !important;
       padding-bottom:48px !important;
     }
   }
 }

}

/**
  * @breakpoint : Guide Section 1
  *
  */

/* Guide Section Breakpoint 1 ----------- */

@media only screen and (max-width : 1009px){

  .content-wrapper{
    height:2130px !important;
  }

}
