/*@_colors.scss
 *A class color to have the variables ready to be called
 *Any color of the structure has be here, following the rule
 *Just import the class and it can be called anytime
 */


$layer-color: #333333 !important;
$header-color: #e05151 !important;
$text-color: #fff !important;
$btn-color: #75a3d1 !important;
$table-color: #ffd452 !important;
