/*@_colors.scss
 *A class color to have the variables ready to be called
 *Any color of the structure has be here, following the rule;
 *Just import the class and it can be called anytime
 */


/* _base.scss colors */

$layer-color: #333333;
$header-color: #e05151;
$text-color: #fff;
$btn-color: #75a3d1;
$table-color: #ffd452;
$dark-color:#333333;
$light-color:#ffffff;
$bottom-color:#976151;
$guide-color:#F2D6A2;


/* color override / not override */

$override: !important;


/* _nav.scss colors */

$nav-color: transparent;
$home-nav-color: #e6567a;
$blog-nav-color: #00c0e4;
$photo-nav-color: #5bd999;
$about-nav-color: #7658f4;
$chat-nav-color: #eac14d;
$background-nav-scroll: #333333;
$nav-color-layer: transparent;
