/*@_colors.scss
 *A class color to have the variables ready to be called
 *Any color of the structure has be here, following the rule;
 *Just import the class and it can be called anytime
 */


/* _base.scss colors */
$layer-color: #333333 !important;
$header-color: #e05151 !important;
$text-color: #fff !important;
$btn-color: #75a3d1 !important;
$table-color: #ffd452 !important;
$paragraph-color:#ffffff !important;


/* _nav.scss colors */
$nav-color: transparent !important;
$home-nav-color: #e6567a;
$blog-nav-color: #00c0e4;
$photo-nav-color: #5bd999;
$about-nav-color: #7658f4;
$chat-nav-color: #eac14d;
