/*@_functions.scss
 *All the @mixins are on this file to prevent messy codes
 *Just need to get it imported into the partials documents
 *such as: _base.scss
 */

@import "shadows";
@import "colors";


/* _base.scss  @mixins */

@mixin head-splash($bgcolor, $color){
  background-color:$bgcolor;
  color:$color;
}

@mixin container-wrapper($width, $padding, $overflow){
  width:$width;
  padding:$padding;
  overflow:$overflow;
}

@mixin intro-section($margin-bottom, $padding, $position, $z-index){
  margin-bottom:$margin-bottom;
  padding:$padding;
  position:$position;
  z-index:$z-index;
}

@mixin splash-intro($font-family, $text-align, $color, $margin-top){
  font-family:$font-family;
  text-align:$text-align;
  color:$color;
  margin-top:$margin-top;
}

@mixin content-wrapper($position, $top, $height){
  position:$position;
  top:$top;
  height:$height;
}

@mixin content-wrapper-nav($position, $top, $height){
  position:$position;
  top:$top;
  height:$height;
}

@mixin intro-splash($height, $color){
  height:$height;
  background-color:$color;
}

@mixin text-splash($head-text-shadow){
  text-shadow:$head-text-shadow;
}

@mixin paragraph-three-collumn($paragraph-text-shadow, $paragraph-color, $padding, $font-size){
  text-shadow:$paragraph-text-shadow;
  color:$paragraph-color;
  padding:$padding;
  font-size:$font-size;
}

@mixin math-table($padding-right, $padding-left){
  padding-right:$padding-right;
  padding-left:$padding-left;
}

@mixin math-table-intro($splash-color, $intro-font-josefin){
  color:$splash-color;
  font-family:$intro-font-josefin;
}

@mixin footer($position, $bottom, $background-color, $font-family, $align, $width, $margin){
  position:$position;
  bottom:$bottom;
  background-color:$background-color;
  font-family:$font-family;
  text-align:$align;
  width:$width;
  margin-left:$margin;

}

@mixin glyphicon-element($glyphicon, $font-size, $margin, $color){
  font-family:$glyphicon;
  font-size:$font-size;
  margin-left:$margin;
  color:$color;
}

@mixin guide-section($height, $background-color){
  height:$height;
  background-color:$background-color;
}


/* _nav.scss @mixins */

@mixin nav-layer($bg-color, $transition){
  background-color:$bg-color;
  transition:$transition;
}

@mixin nav-panel($bg-color, $padding){
  background-color:$bg-color;
  padding:$padding;
}

@mixin ul-nav-settings($min-width, $position, $display, $margin, $clear){
  min-width:$min-width;
  position:$position;
  display:$display;
  margin:$margin;
  clear:$clear;
}

@mixin li-nav-settings($list-style, $float){
  list-style:$list-style;
  float:$float;
}

@mixin a-nav-settings($width, $height, $float, $margin){
  width:$width;
  height:$height;
  float:$float;
  margin:$margin;
}

@mixin i-nav-settings($line-height, $color, $vertical-align){
  line-height:$line-height;
  color:$color;
  vertical-align:$vertical-align;
}

@mixin span-nav-settings($font-family, $font-size, $font-weight, $line-height, $color, $text-transform, $vertical-align){
  font-family:$font-family;
  font-size:$font-size;
  font-weight:$font-weight;
  line-height:$line-height;
  color:$color;
  text-transform:$text-transform;
  vertical-align:$vertical-align;
}

@mixin li-back-nav-settings($position, $top, $width, $height, $text-align, $z-index){
  position:$position;
  top:$top;
  width:$width;
  height:$height;
  text-align:$text-align;
  z-index:$z-index;
}

@mixin perspective-crossbrowser($value){
  -webkit-perspective:$value;
     -moz-perspective:$value;
      -ms-perspective:$value;
       -o-perspective:$value;
}

@mixin transform-crossbrowser($rotateX, $rotateY){
  -webkit-transform:$rotateX $rotateY;
     -moz-transform:$rotateX $rotateY;
      -ms-transform:$rotateX $rotateY;
       -o-transform:$rotateX $rotateY;
          transform:$rotateX $rotateY;
}

@mixin transition-crossbrowser($value){
  -webkit-transition:$value;
     -moz-transition:$value;
      -ms-transition:$value;
       -o-transition:$value;
          transition:$value;
}

@mixin backface-crossbrowser($value){
  -webkit-backface-visibility:$value;
     -moz-backface-visibility:$value;
      -ms-backface-visibility:$value;
       -o-backface-visibility:$value;
}

@mixin transform-style-crossbrowser($value){
  -webkit-transform-style:$value;
     -moz-transform-style:$value;
      -ms-transform-style:$value;
       -o-transform-style:$value;
          transform-style:$value;
}

@mixin nav-scroll-active($position, $top, $width, $margin, $z-index, $color, $transition){
  position:$position;
  top:$top;
  width:$width;
  margin:$margin;
  z-index:$z-index;
  background-color:$color;
  transition:$transition;
}
