/*@_shadows.scss
 *All the text-shadows settings are on this file in order it aopears
 *Just need to get it imported into the partials documents
 *such as: _base.scss, _functions.scss
 */

 $head-text-shadow: 4px 4px 1px black;
