/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*@_animation-nav.scss
 *The purpose of this class is not to have @mixins otherwise
 *Small ajustments as in px or deg for the flip animation on nav
 *Just import the class and it can be called anytime
 */
/*@_fonts.scss
 *All the font's variables have to be set here fora better modularization
 *It doesn't matter which DOM part it is, the important thing is to make it.
 *Just import this class where it should be used.
 */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);
@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
/*@import url(https://fonts.googleapis.com/css?family=Dancing+Script);*/
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);
/*@_colors.scss
 *A class color to have the variables ready to be called
 *Any color of the structure has be here, following the rule;
 *Just import the class and it can be called anytime
 */
/* _base.scss colors */
/* _nav.scss colors */
/*@_functions.scss
 *All the @mixins are on this file to prevent messy codes
 *Just need to get it imported into the partials documents
 *such as: _base.scss
 */
/*@_shadows.scss
 *All the text-shadows settings are on this file in order it aopears
 *Just need to get it imported into the partials documents
 *such as: _base.scss, _functions.scss
 */
/* _base.scss  @mixins */
/* _nav.scss @mixins */
/*@_header.scss
 *Header animation and class which is added by the AngularJS directive
 *Should stay here and be set up the time the scroll event calls it
 *Some more header animate edits can appear here
 */
/* line 7, ../sass/partials/_header.scss */
.head header {
  position: fixed;
  width: 100%;
}
/* line 11, ../sass/partials/_header.scss */
.head header hgroup h1 {
  font-size: 3.6em;
  transition: font-size 400ms ease-in-out;
}
/* line 15, ../sass/partials/_header.scss */
.head header hgroup h2 {
  display: none;
}

/*@_base.scss
 *HTML structure will be organized here as layout and general settings
 *Small pieces takes makes a section will you find organized in other file
 *such as: buttons, transitions, colors or somehing like this...
 */
/* line 8, ../sass/partials/_base.scss */
body {
  background-color: #333333 !important;
}

/* line 13, ../sass/partials/_base.scss */
main #container-wrapper {
  width: 100%;
  padding: 0;
  overflow: hidden;
}
/* line 15, ../sass/partials/_base.scss */
main #container-wrapper header {
  background-color: #e05151 !important;
  color: #fff !important;
  text-shadow: 4px 4px 1px black;
}
/* line 19, ../sass/partials/_base.scss */
main #container-wrapper section#intro-section {
  margin-bottom: 30px;
  padding: 50px;
  position: relative;
  z-index: -100;
}
/* line 21, ../sass/partials/_base.scss */
main #container-wrapper section#intro-section h1 {
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  color: #ffffff !important;
  margin-top: -20px;
}
/* line 23, ../sass/partials/_base.scss */
main #container-wrapper section#intro-section div article {
  height: 400px;
  background-color: #ffd452 !important;
}
/* line 25, ../sass/partials/_base.scss */
main #container-wrapper section#intro-section div article p {
  text-shadow: 3px 2px 1px #d9411e;
  color: #ffffff !important;
  padding: 7em 2em 7.8em 2em;
  font-size: 1.5em;
}

/**
  *@name: content-wrapper (AngularJS Directive: scroll.js / scrollHead)
  *@description: Content-wrapper is active up the time the headChange directive
  *From AngularJS.
  */
/* line 42, ../sass/partials/_base.scss */
.content-wrapper {
  position: relative;
  top: 320px;
  height: 1200px;
}

/**
  *@name: content-wrapper-nav (AngularJS Directive: scroll.js / scrollNav)
  *@description: Content-wrapper is active up the time the navChange directive
  *From AngularJS.
  */
/* line 53, ../sass/partials/_base.scss */
.content-wrapper-nav {
  position: relative;
  top: 500px;
  height: 1320px;
}

/**
  *@name: table-settings
  *@description: the table which the pure Java Script is apllied math folder
  *We've got the model and the view class
  */
/* line 64, ../sass/partials/_base.scss */
#table {
  padding-right: 50px;
  padding-left: 50px;
}
/* line 66, ../sass/partials/_base.scss */
#table thead {
  background-color: #ffd452 !important;
}
/* line 69, ../sass/partials/_base.scss */
#table button {
  background-color: #75a3d1 !important;
}

/*@_nav.scss
 *Here will be the code of the main nav, keyframes are out in modules classes
 *Colors and shades will ever be outside here, probably found on colors class.
 *Mixins also will be written outside this file.
 */
/* line 8, ../sass/partials/_nav.scss */
.panel {
  background-color: transparent !important;
  padding: 0;
}

/* line 12, ../sass/partials/_nav.scss */
.navigation nav {
  position: fixed;
  top: 175px;
  width: 100%;
  margin: 0 auto;
  z-index: 999;
  background-color: #000000;
  transition: background-color 500ms ease-in-out;
}

/* line 16, ../sass/partials/_nav.scss */
nav {
  background-color: transparent;
  transition: 500ms ease-in-out;
}
/* line 18, ../sass/partials/_nav.scss */
nav ul {
  min-width: 600px;
  position: relative;
  display: table;
  margin: 25px auto;
  clear: both;
}
/* line 20, ../sass/partials/_nav.scss */
nav ul li {
  list-style: none;
  float: left;
}
/* line 22, ../sass/partials/_nav.scss */
nav ul li a {
  width: 100px;
  height: 100px;
  float: left;
  margin: 0 10px;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  -ms-perspective: 600px;
  -o-perspective: 600px;
}

/* line 34, ../sass/partials/_nav.scss */
nav ul li .front {
  text-align: center;
  -webkit-transform: rotateX(0deg) rotateY(0deg);
  -moz-transform: rotateX(0deg) rotateY(0deg);
  -ms-transform: rotateX(0deg) rotateY(0deg);
  -o-transform: rotateX(0deg) rotateY(0deg);
  transform: rotateX(0deg) rotateY(0deg);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
/* line 40, ../sass/partials/_nav.scss */
nav ul li:hover
.front {
  -webkit-transform: rotateX(0deg) rotateY(180deg);
  -moz-transform: rotateX(0deg) rotateY(180deg);
  -ms-transform: rotateX(0deg) rotateY(180deg);
  -o-transform: rotateX(0deg) rotateY(180deg);
  transform: rotateX(0deg) rotateY(180deg);
}

/* line 52, ../sass/partials/_nav.scss */
nav ul li .back {
  position: absolute;
  top: 0;
  width: inherit;
  height: inherit;
  text-align: center;
  z-index: -1;
  -webkit-transform: rotateX(0deg) rotateY(-180deg);
  -moz-transform: rotateX(0deg) rotateY(-180deg);
  -ms-transform: rotateX(0deg) rotateY(-180deg);
  -o-transform: rotateX(0deg) rotateY(-180deg);
  transform: rotateX(0deg) rotateY(-180deg);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
/* line 58, ../sass/partials/_nav.scss */
nav ul li:hover
.back {
  z-index: 1;
  -webkit-transform: rotateX(0deg) rotateY(0deg);
  -moz-transform: rotateX(0deg) rotateY(0deg);
  -ms-transform: rotateX(0deg) rotateY(0deg);
  -o-transform: rotateX(0deg) rotateY(0deg);
  transform: rotateX(0deg) rotateY(0deg);
}

/* line 71, ../sass/partials/_nav.scss */
nav ul li i {
  line-height: 100px !important;
  color: white;
  vertical-align: middle !important;
}
/* line 74, ../sass/partials/_nav.scss */
nav ul li span {
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 300;
  line-height: 100px;
  color: white;
  text-transform: lowercase;
  vertical-align: middle;
}

/* line 84, ../sass/partials/_nav.scss */
nav ul li.color-1 .front,
nav ul li.color-1 .back {
  background-color: #e6567a;
}
/* line 87, ../sass/partials/_nav.scss */
nav ul
li.color-2 .front,
nav ul li.color-2 .back {
  background-color: #00c0e4;
}
/* line 91, ../sass/partials/_nav.scss */
nav ul
li.color-3 .front,
nav ul li.color-3 .back {
  background-color: #5bd999;
}
/* line 95, ../sass/partials/_nav.scss */
nav ul
li.color-4 .front,
nav ul li.color-4 .back {
  background-color: #7658f4;
}
/* line 99, ../sass/partials/_nav.scss */
nav ul
li.color-5 .front,
nav ul li.color-5 .back {
  background-color: #eac14d;
}
