/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*@_colors.scss
 *A class color to have the variables ready to be called
 *Any color of the structure has be here, following the rule;
 *Just import the class and it can be called anytime
 */
/*@_base.scss
 *HTML structure will be organized here as layout and general settings
 *Small pieces takes makes a section will you find organized in other file
 *such as: buttons, transitions, colors or somehing like this...
 */
/*@_functions.scss
 *All the @mixins are on this file to prevent messy codes
 *Just need to get it imported into the partials documents
 *such as: _base.scss
 */
/* line 10, ../sass/partials/_base.scss */
body {
  background-color: #333333 !important;
}

/* line 15, ../sass/partials/_base.scss */
main #container-wrapper {
  width: 100%;
  padding: 0;
  overflow: hidden;
}
/* line 19, ../sass/partials/_base.scss */
main #container-wrapper header {
  background-color: #e05151 !important;
  color: #fff !important;
}
/* line 22, ../sass/partials/_base.scss */
main #container-wrapper section#intro-section {
  margin: 0 auto;
  margin-bottom: 30px;
  width: 1170px;
}
/* line 27, ../sass/partials/_base.scss */
main #container-wrapper section#intro-section div article {
  height: 400px;
  background-color: #ffd452 !important;
}
/* line 29, ../sass/partials/_base.scss */
main #container-wrapper section#intro-section div article p {
  color: #333333 !important;
  width: 350px;
  padding: 7em 2em 7.8em 2em;
  font-size: 1.5em;
}

/* line 40, ../sass/partials/_base.scss */
button {
  background-color: #75a3d1 !important;
}

/* line 43, ../sass/partials/_base.scss */
thead {
  background-color: #ffd452 !important;
}
