/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*@_base.scss
 *HTML structure will be organized here as layout and general settings
 *Small pieces takes makes a section will you find organized in other file
 *such as: buttons, transitions, colors or somehing like this...
 */
/* line 13, ../sass/partials/_base.scss */
body {
  background-color: #333333 !important;
}

/* line 18, ../sass/partials/_base.scss */
main #container-wrapper {
  width: 100%;
  padding: 0;
  overflow: hidden;
}
/* line 22, ../sass/partials/_base.scss */
main #container-wrapper header {
  background-color: #e05151 !important;
  color: #fff !important;
}
/* line 26, ../sass/partials/_base.scss */
main #container-wrapper section#intro-section {
  margin: 0 auto;
  margin-bottom: 30px;
  width: 1170px;
}
/* line 31, ../sass/partials/_base.scss */
main #container-wrapper section#intro-section div article {
  height: 400px;
  background-color: #ffd452 !important;
}
/* line 33, ../sass/partials/_base.scss */
main #container-wrapper section#intro-section div article p {
  color: #fff !important;
  width: 350px;
  padding: 13em 3em 12.7em 3em;
}

/* line 43, ../sass/partials/_base.scss */
button {
  background-color: #75a3d1 !important;
}

/* line 46, ../sass/partials/_base.scss */
thead {
  background-color: #ffd452 !important;
}
